.cucina-container{
    .single-card{

        &.isInProgress{
            .card-header{
                background-color: red;
            }
        }
        .card {
            width: 100%;
            height: 90%;
            margin-top: 5%;
            margin-bottom: 10%;
            margin-left: 5%;
            border-radius: 5%;
           
        }
        
        .card-header{
            background-color: #fd7e14;
            text-align: center;
            font-weight: bold;
            color: rgb(218, 195, 167);
            font-size: 120%;
            
        }
        
        .nTavolo{
            text-align: center;
            font-size: small;
        }
        
        .dettOrdine{
            text-align: center;
            font-size: medium;
        }
        
        .status{
            text-align: center;
            font-style:oblique;
        }
    }
    
    
}