.card-products-container {
    height: 100%;

    .edit-card {
        box-sizing: border-box;
        border: 1px solid #F8F8F8;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
        height: 100%;
        margin-left: 11px;
    }

    .card-body {

        .title {
            color: #323232;
            font-family: Arial;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 20px;
            font-weight: bold;
        }

        .text {
            color: #5C5C5C;
            font-family: Arial;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 18px;
        }

    }

    .card-footer {
        .btn {
            margin-right: 10px;
            border-radius: 12px;

            &.btn-sky {
                background-color: #66CAE7;
            }

            &.btn-yellow {
                background-color: #FFCB6C;
            }

            &.btn-purple {
                background-color: #BE77C7;
            }
        }

        &.edit-footer {
            background-color: #FFFFFF;
        }

        &.edit-border {
            border-top: 1px solid #E8E8E8;
            padding-bottom: 14px;


        }

        .btn-text {
            color: #FFFFFF;
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 15px;
        }

        @media(max-width: 1236px) {
            .btn {
                width: 100%;
                margin-bottom: 10px;
               
            }
            .edit-card{
                height: 100%;
            }

            
        }


    }

}