<mat-toolbar class="toolBar">
    <button 
    routerLink="/"
    mat-icon-button 
    class="example-icon" 
    aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>Restaurant Manager</span>
    <span class="example-spacer"></span>
    <button mat-icon-button 
      routerLink="/menu"
      class="example-icon favorite-icon" 
      aria-label="Example icon-button with heart icon">
      <mat-icon>restaurant_menu</mat-icon>
    </button>
      
    <button mat-icon-button 
      routerLink="/manager-sala"
      class="example-icon favorite-icon" 
      aria-label="Example icon-button with heart icon">
      <mat-icon>kitchen</mat-icon>
    </button> 
    <!-- <button mat-icon-button 
      routerLink="/client-menu"
      class="example-icon favorite-icon" 
      aria-label="Example icon-button with heart icon">
      <mat-icon>sms</mat-icon>
    </button> -->
</mat-toolbar>