.admin-services-container {

    .title-admin-services {
        background-color: white;
        padding-top: 23px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;

        .icon-folder {
            margin-right: 10px;
            margin-left: 20px;
           font-size: 24px;
            
        }

        h3 {
            color: #258900;
            font-family: Arial;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 22px;
        }
    }



    .container-table {
        box-sizing: border-box;
        border: 1px solid #F8F8F8;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);

    }
    
}