<div class="admin-services-container" id="admin-services">

    <div class="title-admin-services">
        <i class="icon-folder icon-ISP_Icon_Folder-01"></i>
        <h3>Servizi amministrativi</h3>

    </div>

    {{>table-admin/table-admin
    Sezione1="Variazione residenza, domicilio, domicilio fiscale"
    Sezione2="Categoria Lorep ipsum dolor"
    Sezione3="Lorem ipsum dolor"
    Sezione4="HRC000029583"
    Sezione5="31 Dicembre 2019"
    Sezione6="Variazione stato civile"
    }}



</div>