.card-person-services-container{
    
    .box-card-container{
        border-radius: 4px;
        padding-left: 17.5px;
        padding-right: 17.5px;

        .box-img {
            width: 100%;
            height: 150px;

            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4%;
            }
        }

        .box-text {
            .body-box-title{
                color: #323232;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 20px;
                padding-top: 10px;
                text-align: start;
                font-family: arial; 
            }

            .body-box-sub-title{
                color: #5C5C5C;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 18px;
                padding-top: 10px;
                font-family: arial; 
            }

        }

    }
}