<!-- <div class="container"> -->
<div class="sezione1 ">
    <div class="row text-center">
        <mat-card-content class="titleText">
            <h1>PANINI</h1>
        </mat-card-content>
        <div class="col-4" *ngFor="let panino of lista.panini">
            <div class="nomePanino">
                <h3>{{ panino.nome }}</h3>
            </div>
            <div class="immaginePanino">
                <img (click)="selezionaPanino(panino)" class="img " [src]="panino.img">
            </div>
            <div class="descrizione">
                <p [innerHTML]="panino.descrizione"></p>
            </div>
            <div class="prezzo">
                <p>{{ panino.prezzo }}€</p>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="sezione2">
    <div class="row text-center">
        <h1>BIBITE</h1>
        <div class="col-4" *ngFor="let bibita of lista.bibite">
            <div class="menu-item">
                <h3>{{ bibita.nome }}</h3>
                <img class="img" (click)="selezionaPanino(bibita)" [src]="bibita.img">
                <div class="descrizione">
                    <p [innerHTML]="bibita.descrizione"></p>
                </div>
                <div class="prezzo">
                    <p>{{ bibita.prezzo }}€</p>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<table *ngIf="prodottiOrdinati.length > 0">
    <div class="text-center">
        <h2>IL TUO ORDINE</h2>
        <h4> Hai {{prodottiOrdinati.length}} prodott* nel tuo carrello</h4>
    </div>

    <tbody> <!-- Aggiunto il tag tbody -->
        <tr *ngFor="let prodottoOrdinato of prodottiOrdinati">
            <td>
                {{prodottoOrdinato.nome}}

            </td>
            <td>
                <button mat-icon-button class="delete" (click)="eliminaPanino(prodottoOrdinato)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
            <td>
                {{prodottoOrdinato.prezzo}}€
            </td>
        </tr>
        <mat-divider></mat-divider>

        <tr>
        <td>
            <h2>TOTALE ORDINE</h2>
        </td>
        <td class="totaleOrdine">
            <p>{{totaleOrdine}} €</p>
            <button mat-raised-button (click)="sendOrder()" class="conferma">CONFERMA ORDINE</button>
        </td>
    </tr>
    </tbody>
</table>

<!-- </div> -->