<div class="container">
    <h1><b>Angular Test</b></h1>
    <p>Eseguire una chiamata http (GET) al seguente url <b>http://localhost:4000/api/mock/getArticles</b>.
        L'api risponderà con una lista di articoli.
        Mappa la response dell'api aggiungendo un attributo booleano "like" ad ogni elemento dell'array della response.
        Usa l'array nell'html per stampare tutti gli articoli (titolo, testo, colore, like). Costruisci l'html e
        stilizza gli elementi facendo
        riferimento alla img qui sotto (sinistra desktop, destra mobile).
        L'articolo dovrà essere responsive (sotto i 600px è mobile).
        Usa l'attributo color, presente in ogni oggetto della response per impostare il colore del box del titolo di
        ogni articolo.
        Eseguire l'esercizio sotto la traccia.<br>
        <b>OPTIONAL: </b><br>
        Ogni articolo avrà un button (like) per aggiungere un "like". Al click
        modificherà il valore dell'attributo like all'interno dell'array, da false a true, e il button si colorerà
        di rosso.
    </p>
    <div>
        <img src="../../../assets/article-ex-desktop.jpg" alt="ex desktop">
        <img src="../../../assets/article-ex-mobile.jpg" alt="ex mobile">
    </div>

</div>
<div class="container">
    <div class="card card-container col-12 mb-2" *ngFor="let article of articles">
        <div class="card-body bodyClass">
            <div class="row rowClass">
                <div class="card-title titleClass col-12 col-md-2" [style.background-color]="article.color">
                    <h5>
                        {{article.title}}
                    </h5>
                </div>
                <p class="card-text textClass col-12 col-md-10">
                    {{article.text}}
                </p>
                <mat-button-toggle class="likeButton" [ngClass]="{'liked':article.like}"
                    (click)="toggleLike(article)">LIKE</mat-button-toggle>
            </div>
        </div>
    </div>
</div>