.container {
  img {
    max-width: 50%;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
   margin-bottom: 20%;
  }

  th {
    background-color:rgb(197, 189, 189);
    border: 1px solid grey;
  }

  td {
    border: 1px solid grey;
  }

  th,
  td {
    text-align: center;
    padding: 10px;
  }

  // tr:nth-child(even) {
  //   background-color: #dddddd;
  // }

  // .rowClass {
  //     min-height: 100px
  // }

  // .titleClass {

  //     max-height: 92px;
  //     border-radius: 5px;
  //     font-weight: 600;
  //     font-family: fangsong;
  //     align-items: center;
  //     display: flex;
  //     justify-content: center;
  //     padding: 30px;
  //     margin: 0;
  // }

  // .textClass {
  //     display: flex;
  // }

  // p {
  //     font-size: 1rem;

  // }

  // @media (max-width:601) {}

  // .likeButton {
  //     max-width: 9%;

  //     border-radius: 20%;
  //     margin-left: 18%;

  //     @media (max-width: 1003px)  {
  //        max-width: 20%;
  //     }

  // }

  // .liked {
  //     border-color: red;
  //     background-color: white;
  // }
}