<div class="prodotti-servizi-container" id="prodotti-servizi">
        <div class="container">
                <div class="row">
                        <div class="col-sm-6 pt-2">
                                <div class="card edit-card">
                                        <div class="card-body">
                                                <h3 class="card-title title">Car pooling aziendale</h3>
                                                <p class="card-text text">E' un progetto di condivisione dell'auto
                                                        privata
                                                        per Milano, Torino,
                                                        Moncalieri, Firenze per cui è previsto l'utilizzo di ...</p>
                                        </div>
                                        <div class="card-footer edit-footer edit-border">
                                                <button class="btn btn-sky">
                                                        <p class="btn-text">PREVIDENZA</p>
                                                </button>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-6 pt-2">
                                <div class="card edit-card">
                                        <div class="card-body">
                                                <div class="container-text">
                                                        <h3 class="card-title title">Convenzione FAI</h3>
                                                        <p class="card-text text">Abbonamento al FAI, il Fondo Ambiente
                                                                Italiano
                                                                a condizioni agevolate</p>
                                                </div>

                                        </div>
                                        <div class="card-footer edit-footer edit-border">
                                                <button class="btn btn-yellow">
                                                        <p class="btn-text">SALVATEMPO</p>
                                                </button>
                                                <button class="btn btn-sky">
                                                        <p class="btn-text">PREVIDENZA</p>
                                                </button>
                                                <button class="btn btn-purple">
                                                        <p class="btn-text">ALTRE AGEVOLAZIONI E SCONTI</p>
                                                </button>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-6 pt-2">
                                <div class="card edit-card">
                                        <div class="card-body">
                                                <div class="container-text">
                                                        <h3 class="card-title title">Cinema convenzionati</h3>
                                                        <p class="card-text text">Abbonamento al FAI, il Fondo Ambiente
                                                                Italiano
                                                                a condizioni agevolate</p>
                                                </div>

                                        </div>
                                        <div class="card-footer edit-footer edit-border">
                                                <button class="btn btn-yellow">
                                                        <p class="btn-text">SALVATEMPO</p>
                                                </button>
                                                <button class="btn btn-sky">
                                                        <p class="btn-text">PREVIDENZA</p>
                                                </button>
                                                <button class="btn btn-purple">
                                                        <p class="btn-text">ALTRE AGEVOLAZIONI E SCONTI</p>
                                                </button>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-6 pt-2">
                                <div class="card edit-card">
                                        <div class="card-body">
                                                <div class="container-text">
                                                        <h3 class="card-title title">Lavoro part-time</h3>
                                                        <p class="card-text text">Sono previste diverse forme di part-time sia per un contratto a tempo determinato sia indeterminato. Sono diverse le modalità di ...</p>
                                                </div>

                                        </div>
                                        <div class="card-footer edit-footer edit-border">
                                                <button class="btn btn-yellow">
                                                        <p class="btn-text">SALVATEMPO</p>
                                                </button>
                                                <button class="btn btn-sky">
                                                        <p class="btn-text">PREVIDENZA</p>
                                                </button>
                                                <button class="btn btn-purple">
                                                        <p class="btn-text">ALTRE AGEVOLAZIONI E SCONTI</p>
                                                </button>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-6 pt-2">
                                <div class="card edit-card">
                                        <div class="card-body">
                                                <div class="container-text">
                                                        <h3 class="card-title title">Permessi ex-festività</h3>
                                                        <p class="card-text text">I dipendenti in servizio hanno diritto a un numero di permessi giornalieri retribuiti (max. 5) corrispondente a quello delle giornate ...</p>
                                                </div>

                                        </div>
                                        <div class="card-footer edit-footer edit-border">
                                                <button class="btn btn-yellow">
                                                        <p class="btn-text">SALVATEMPO</p>
                                                </button>
                                                <button class="btn btn-sky">
                                                        <p class="btn-text">PREVIDENZA</p>
                                                </button>
                                                <button class="btn btn-purple">
                                                        <p class="btn-text">ALTRE AGEVOLAZIONI E SCONTI</p>
                                                </button>
                                        </div>
                                </div>
                        </div>

                </div>

        </div>
</div>