<div class="prodotti-servizi-container" id="prodotti-servizi">
       
                <h3><b>Prodotti e servizi</b></h3>
                <div class="row">
                        <div class="col-sm-6 col pt-2">
                                {{>card-product/card-product
                                title="Car pooling aziendale" 
                                second-btn="PREVIDENZA"
                                description="E'un progetto di condivisione dell'auto privata per Milano, Torino, Moncalieri, Firenze per cui è previsto l'utilizzo di ..."}}
                        </div>
                        <div class="col-sm-6 col pt-2">
                                {{>card-product/card-product
                                title="Convenzione FAI" 
                                first-btn="SALVATEMPO"
                                second-btn="PREVIDENZA"
                                third-btn="ALTRE AGEVOLAZIONI E SCONTI"
                                description="Abbonamento al FAI, il Fondo Ambiente Italiano a condizioni agevolate"}}
                        </div>
                        <div class="col-sm-6 col pt-2">
                                 {{>card-product/card-product
                                title="Convenzione FAI" 
                                first-btn="SALVATEMPO"
                                second-btn="PREVIDENZA"
                                third-btn="ALTRE AGEVOLAZIONI E SCONTI"
                                description="Abbonamento al FAI, il Fondo Ambiente Italiano a condizioni agevolate"}}
                        </div>
                        <div class="col-sm-6 col pt-2">
                                 {{>card-product/card-product
                                title="Convenzione FAI" 
                                first-btn="SALVATEMPO"
                                second-btn="PREVIDENZA"
                                third-btn="ALTRE AGEVOLAZIONI E SCONTI"
                                description="Abbonamento al FAI, il Fondo Ambiente Italiano a condizioni agevolate"}}
                        </div>
                        <div class="col-sm-6 col pt-2">
                                 {{>card-product/card-product
                                title="Convenzione FAI" 
                                first-btn="SALVATEMPO"
                                second-btn="PREVIDENZA"
                                third-btn="ALTRE AGEVOLAZIONI E SCONTI"
                                description="Abbonamento al FAI, il Fondo Ambiente Italiano a condizioni agevolate"}}
                        </div>
                </div>
       
</div>