<div class="prodotti-servizi-container" id="prodotti-servizi">
        <div class="row header-prodotti-servizi">
                <div class="col-12">
                        <h3><b>Prodotti e servizi</b></h3>
                </div>

        </div>

        <div class="row">
                <div class="col-sm-6 col pt-2">
                        {{>card-product/card-product
                        icon-heart="icon-Action_Preferiti_On"
                        title="Car pooling aziendale"
                        second-btn-color="btn-sky"
                        second-btn="PREVIDENZA"
                        description="E'un progetto di condivisione dell'auto privata per Milano, Torino, Moncalieri,
                        Firenze per cui è previsto l'utilizzo di ..."
                        icon-star-full="star-full"
                        icon-Star_Off="icon-Star_Off"
                        }}

                </div>
                <div class="col-sm-6 col pt-2">
                        {{>card-product/card-product
                        icon-heart="icon-Action_Preferiti_On"
                        title="Convenzione FAI"
                        first-btn-color="btn-yellow"
                        second-btn-color="btn-sky"
                        third-btn-color="btn-purple"
                        first-btn="SALVATEMPO"
                        second-btn="PREVIDENZA"
                        third-btn="ALTRE AGEVOLAZIONI E SCONTI"
                        description="Abbonamento al FAI, il Fondo Ambiente Italiano a condizioni agevolate"
                        icon-star-full="star-full"
                        icon-Star_Off="icon-Star_Off"
                        }}
                </div>
                <div class="col-sm-6 col pt-2">
                        {{>card-product/card-product
                        icon-heart="icon-Action_Preferiti_On"
                        title="Convenzione FAI"
                        first-btn-color="btn-yellow"
                        second-btn-color="btn-sky"
                        third-btn-color="btn-purple"
                        first-btn="SALVATEMPO"
                        second-btn="PREVIDENZA"
                        third-btn="ALTRE AGEVOLAZIONI E SCONTI"
                        description="Abbonamento al FAI, il Fondo Ambiente Italiano a condizioni agevolate"
                        icon-star-full="star-full"
                        icon-Star_Off="icon-Star_Off"
                        }}

                </div>
                <div class="col-sm-6 col pt-2">
                        {{>card-product/card-product
                        icon-heart="icon-Action_Preferiti_On"
                        first-btn-color="btn-yellow"
                        second-btn-color="btn-sky"
                        third-btn-color="btn-purple"
                        title="Convenzione FAI"
                        first-btn="SALVATEMPO"
                        second-btn="PREVIDENZA"
                        third-btn="ALTRE AGEVOLAZIONI E SCONTI"
                        description="Abbonamento al FAI, il Fondo Ambiente Italiano a condizioni agevolate"
                        icon-star-full="star-full"
                        icon-Star_Off="icon-Star_Off"
                        }}
                </div>
                <div class="col-sm-6 col pt-2">
                        {{>card-product/card-product
                        icon-heart="icon-Action_Preferiti_On"
                        title="Convenzione FAI"
                        first-btn-color="btn-yellow"
                        second-btn-color="btn-sky"
                        third-btn-color="btn-purple"
                        first-btn="SALVATEMPO"
                        second-btn="PREVIDENZA"
                        third-btn="ALTRE AGEVOLAZIONI E SCONTI"
                        description="Abbonamento al FAI, il Fondo Ambiente Italiano a condizioni agevolate"
                        icon-star-full="star-full"
                        icon-Star_Off="icon-Star_Off"
                        }}
                </div>
        </div>

</div>