{{#> base }}

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-2">
                
                {{>prodotti-servizi/prodotti-servizi
                }}
            </div>
        <div class="row">
            <div class="col-12 pt-4">
                {{>admin-services/admin-services
                }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-4">
                {{>person-services/person-services
                }}
            </div>
        </div>
    </div>
</main>


{{/ base }}