<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>App di gestione ordini per un ristorante</h1>
            <h2>Obiettivo:</h2>
            <p>Creare un'app di gestione ordini per un ristorante con una pagina del menu dove i clienti possono ordinare dei piatti, una pagina di gestione delle ordinazioni lato cucina ed una pagina per modificare il menu.</p>
            <h2>Requisiti:</h2>
            <ol>
                <li>La pagina del menu dovrebbe mostrare una lista di piatti disponibili con il nome, la descrizione, il prezzo e un'immagine del piatto.</li>
                <li>I clienti dovrebbero poter aggiungere o rimuovere i piatti dal loro ordine, e visualizzare il totale del loro ordine.</li>
                <li>La pagina di gestione delle ordinazioni lato cucina dovrebbe mostrare un elenco di tutte le ordinazioni in corso, con il numero del tavolo, l'elenco dei piatti ordinati e lo stato dell'ordine (in attesa, in preparazione, completato).</li>
                <li>Lo stato dell'ordine dovrebbe poter essere aggiornato dalla pagina di gestione lato cucina.</li>
                <li>La pagina per l'edit del menu dovrebbe mostrare tutti i piatti già presenti in menu con la passibilità di modificarli, cancellarli o crearne di nuovi</li>
            </ol>
            <h2>Suggerimenti:</h2>
            <ul>
                <li>Utilizzare Angular Material per la creazione dell'interfaccia utente.</li>
                <li>Utilizzare un servizio per gestire la logica dell'ordine e lo stato dell'ordine.</li>
                <li>Utilizzare il routing di Angular per navigare tra le pagine del menu e delle ordinazioni.</li>
            </ul>
            <h2>Suggerimenti avanzati:</h2>
            <ul>
                <li>Implementare la funzionalità di ricerca per i piatti nel menu.</li>
                <li>Implementare la funzionalità di notifica per gli ordini completati.</li>
            </ul>
            <h2>Integrazione Backend</h2>
            <h4>È stato integrato un server con 4 api:</h4>
            <ul>
                <li><b>http://localhost:4000/api/mock/getOrders (GET).</b> L'api tornerà un array con le ordinazioni effettuate.</li>
                <li><b>http://localhost:4000/api/mock/getMenu (GET).</b> L'api tornerà un array con il menu.</li>
                <li><b>http://localhost:4000/api/mock/updateMenu (POST).</b> L'api prenderà in input un obj con una proprietà menu dove inserire l'array del menu aggiornato, tornerà l'array del menu aggiornato</li>
                <li><b>http://localhost:4000/api/mock/submitOrder (POST).</b> L'api prenderà in input un obj con una proprietà newOrder dove inserire la nuova ordinazione, tornerà l'array degli ordini aggiornato</li>
            </ul>
            <h5>Per configurare il server aprire un cmd nella cartella "mock-server" e lanciare il comando npm i. Dopo aver installato la node_modules lanciare il comando npm run start:server per startare il server. Il server starà in ascolto alla porta 400, e per interrogarlo bisognerà effettuare le chiamate (GET,POST) agli url sopra.</h5>
        </div>
    </div>
</div>
