h2 {
    color: rgb(49, 49, 98);
    font-weight: bold;
    margin-top: 3px;
    text-align: center;
    font-size: xx-large;

}

.card-img-top {
    width: 100px;

}

.card-header {
    color: rgb(49, 49, 98);
    font-weight: bold;
}

.card-footer {
    color: rgb(49, 49, 98);
    font-weight: bold;
}