<div class="row mt-4">
    <div class="col-12 text-center">
      <img class="card-img-top" src="assets/img/imgCongratulation/check.png">
      <h2>Ordine confermato!</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-5">
      <div class="card">
        <div class="card-header text-center">
          Riepilogo dell'ordine
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ order!.order }}</h5>
        </div>
        <div class="card-footer text-muted text-center">
          Grazie per averci preferito!
        </div>
      </div>
    </div>
  </div>
    
    
    
    
<!--     
    <div>
        <p>{{ order!.order }}</p>
    </div> -->
