.custom-form-field {
    width: 100%;
    margin-top: 5%;

    

    .inputTimer {
        display: flex;
        justify-content: space-between;
    }

    .myField {
        width: 34%;
        padding: 0 6%;
        text-align: center;
    }

    .inputField {
        text-align: center;
        margin-top: 5%;
    }
}

.buttonVia {
    justify-content: center;
    display: flex;
    background-color: #549754;
    font-size: 120%;  

}